<h1><center> Filtrage et tri des données </center></h1>

## Étape 1. Importez les bibliothèques nécessaires

In [1]:
import numpy as np
import pandas as pd

## Étape 2. Importez le jeux de données à partir de:

https://drive.google.com/file/d/1jzDqkF_zO5dinAOsbPp0jOe_LjjSXcwI/view?usp=sharing

## Étape 3. Attribuez-le à une variable appelée euro_2012.

In [2]:
euro_2012 = pd.read_csv("../pandas_exercices/euro_2012.csv", sep = ",")
euro_2012.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

## Étape 4. Sélectionnez uniquement la colonne Goals.

In [3]:
euro_2012["Goals"]

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

## Étape 5. Combien d'équipes ont participé à l'Euro2012?

In [4]:
print(len(euro_2012["Team"]))
print(euro_2012.Team.size)

16
16

## Étape 6. Quel est le nombre de colonnes dans le jeux de données?

In [5]:
len(euro_2012.columns)

35

## Étape 7. Afficher uniquement les colonnes Équipe, Cartons jaunes et Cartons rouges et les affecter à une base de données appelée discipline

In [6]:
discipline = pd.concat([euro_2012["Team"], euro_2012["Yellow Cards"], euro_2012["Red Cards"]], axis=1)
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [7]:
discipline = euro_2012[['Team', 'Yellow Cards', 'Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

## Étape 8. Trier les équipes par cartons rouges, puis par cartons jaunes

In [8]:
discipline.sort_values(by = ['Red Cards', 'Yellow Cards'], ascending = [False, False])

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

## Étape 9. Calculer la moyenne des cartons jaunes attribués par équipe.

In [9]:
discipline['Yellow Cards'].mean()

7.4375

## Étape 10. Filtrer les équipes qui ont marqué plus de 6 buts.

In [10]:
lesmeilleurs = euro_2012[euro_2012['Goals'] > 6]
lesmeilleurs

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

## Étape 11. Sélectionnez les équipes que leur nom commence par G

In [11]:
lesgg = euro_2012[euro_2012['Team'].str[0] == 'G'] 
lesgg

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

## Étape 12. Sélectionnez les 7 premières colonnes

In [12]:
euro_2012.iloc[:,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

## Étape 13. Sélectionnez toutes les colonnes sauf les 3 dernières.

In [13]:
euro_2012.iloc[:,0:-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

## Étape 14. Afficher uniquement la précision de tir d'Angleterre, d'Italie et de Russie

In [14]:
euro_2012.iloc[[3,7,12],[0,4]]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

<h1><center> Regroupement </center></h1>

## Étape 1. Importez l'ensemble de données à partir de:

https://drive.google.com/file/d/1QBqGhUyvxpsaJ6U9pRbyg8HkTxAai7d-/view?usp=sharing

## Étape 2. Attribuez-le à une variable appelée drinks.

In [15]:
drinks=pd.read_csv("../pandas_exercices/drinks.csv", sep=",")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

## Étape 3. Quel continent boit plus de l'alcool en moyenne?

In [16]:
tmp = drinks.groupby(drinks["continent"])
tmp = tmp.sum()
tmp = tmp.sort_values(by = ["total_litres_of_pure_alcohol"], ascending = False)
tmp.head(1)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
EU,8720,5965,6400,387.8

In [28]:
drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean().idxmax()

'EU'

## Étape 4. Pour chaque continent, afficher les statistiques de la consommation de l'alcool.

In [26]:
tmp2 = drinks.total_litres_of_pure_alcohol.groupby(drinks["continent"])
tmp2.describe()

           count      mean       std  min   25%    50%     75%   max
continent
AF          53.0  3.007547  2.647557  0.0  0.70   2.30   4.700   9.1
AS          44.0  2.170455  2.770239  0.0  0.10   1.20   2.425  11.5
EU          45.0  8.617778  3.358455  0.0  6.60  10.00  10.900  14.4
OC          16.0  3.381250  3.345688  0.0  1.00   1.75   6.150  10.4
SA          12.0  6.308333  1.531166  3.8  5.25   6.85   7.375   8.3

## Étape 5. Afficher la consommation moyenne d'alcool par continent pour chaque colonne

In [30]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

## Étape 6. Afficher la consommation médiane d'alcool par continent pour chaque colonne

In [31]:
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

## Étape 7. Afficher les valeurs moyenne, minimale et maximale de la consommation d'alcool.

In [34]:
drinks.describe().loc[['mean','max','min']]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
mean,106.160622,80.994819,49.450777,4.717098
max,376.000000,438.000000,370.000000,14.400000
min,0.000000,0.000000,0.000000,0.000000